<div class="img-container">
    <img class="modal__img" src="" alt="" />
</div>
<div class="img-container__big">
    <img class="img-modal_big" src="" alt="team__twelve_" />
</div>
<ul class="modal__list">
    <li class="modal__item">
        <h3 class="modal__title">INFO</h3>
        <p class="modal__text">Lorem, , ipsum , ipsum , ipsum , ipsum</p>
    </li>
    <li class="modal__item">
        <h3 class="modal__title">WHEN</h3>
        <ul class="content__list">
            <li class="modal__text">day</li>
            <li class="modal__text">houar</li>
        </ul>
    </li>
    <li class="modal__item">
        <h3 class="modal__title">WHERE</h3>
        <ul class="content__list">
            <li class="modal__text">town</li>
            <li class="modal__text">plaice</li>
        </ul>
    </li>
    <li class="modal__item">
        <h3 class="modal__title">WHO</h3>
        <span>AUTHOR</span>
    </li>
    <li class="modal__item">
        <h3 class="modal__title">PRICE</h3>
        <ul class="pricelist">
            <li class="pricelist__item">
                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="stichcode-svg">
                    <path d="M2.66668 0.833496L0 0.833496L0 16.8335H2.66668L2.66668 0.833496Z" fill="#0E0E0E" />
                    <path d="M9.3737 0.833496L6.70703 0.833496L6.70703 16.8335H9.3737L9.3737 0.833496Z"
                        fill="#0E0E0E" />
                    <path d="M13.4142 0.833496L10.7476 0.833496L10.7476 16.8335H13.4142L13.4142 0.833496Z"
                        fill="#0E0E0E" />
                    <path d="M24 0.833496L20.0404 0.833496L20.0404 16.8335H24L24 0.833496Z" fill="#0E0E0E" />
                    <path d="M5.33334 0.833496L4.04041 0.833496L4.04041 16.8335H5.33334L5.33334 0.833496Z"
                        fill="#0E0E0E" />
                    <path d="M16 0.833496L14.707 0.833496L14.707 16.8335H16L16 0.833496Z" fill="#0E0E0E" />
                    <path d="M18.6666 0.833496L17.3737 0.833496L17.3737 16.8335H18.6666L18.6666 0.833496Z"
                        fill="#0E0E0E" />
                </svg>
                <spun class="modal__text"></spun>
                <a class="buy-ticket__btn" type="button">BUY TICKETS</a>
            </li>

            <li class="priselist__item">
                <svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="stichcode-svg">
                    <path d="M2.66668 0.833496L0 0.833496L0 16.8335H2.66668L2.66668 0.833496Z" fill="#0E0E0E" />
                    <path d="M9.3737 0.833496L6.70703 0.833496L6.70703 16.8335H9.3737L9.3737 0.833496Z"
                        fill="#0E0E0E" />
                    <path d="M13.4142 0.833496L10.7476 0.833496L10.7476 16.8335H13.4142L13.4142 0.833496Z"
                        fill="#0E0E0E" />
                    <path d="M24 0.833496L20.0404 0.833496L20.0404 16.8335H24L24 0.833496Z" fill="#0E0E0E" />
                    <path d="M5.33334 0.833496L4.04041 0.833496L4.04041 16.8335H5.33334L5.33334 0.833496Z"
                        fill="#0E0E0E" />
                    <path d="M16 0.833496L14.707 0.833496L14.707 16.8335H16L16 0.833496Z" fill="#0E0E0E" />
                    <path d="M18.6666 0.833496L17.3737 0.833496L17.3737 16.8335H18.6666L18.6666 0.833496Z"
                        fill="#0E0E0E" />
                </svg>
                <spun class="modal__text"></spun>
                <a class="buy-ticket__btn" type="button">BUY TICKETS</a>
            </li>
        </ul>
    </li>
</ul>